@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
.main {
  width: 100%;
  height: 100%;
  

}
video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.content2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.content .nav{
  font-size: 65px;
}
.content .deskTitle {

  font-size: 65px;
  margin-top: 120px;
  
}
@keyframes example1 {
  0%   {
    margin-top: 360px;
  }
  5%  {
    margin-top: 340px;}
  10%  {
    margin-top: 330px;}
  15% {
    margin-top: 320px;}
    20% {
      margin-top: 310px;}
      25% {
        margin-top: 300px;}
        30% {
          margin-top: 290px;}
          35% {
            margin-top: 280px;}
            40% {
              margin-top: 270px;}
              45% {
                margin-top: 260px;}
                50% {
                  margin-top: 250px;}
                  60% {
                    margin-top: 240px;}
                    70% {
                      margin-top: 230px;}
                      80% {
                        margin-top: 220px;}
                      100% {
                        margin-top: 210px;}
}
.content .smdeskTitle {
  font-size: 30px;
  margin-top: 30px;
  font-weight: normal;
  }


.changing {
  animation: example1 0.5s;
}
.content .listArt {
  display: flex;
  margin-top: 90px;
  margin-bottom: 0px;
  z-index: 1;
  font-family: 'Quicksand', sans-serif;
 ;

}
.listArt li{
  list-style: none;
  
  font-size: 20;
  color: white;
  margin-right: 25px;
font-family: 'Quicksand', sans-serif;
cursor: pointer;
}
.link{
  color: white;
  text-decoration: none;
  font-weight: normal;
  cursor:pointer;
    pointer-events: auto;
}
.content2 .listArt2 {
  display: flex;
  margin-top: 90px;
  margin-bottom: 0px;
  z-index: 1;
  font-family: 'Quicksand', sans-serif;
 ;

}
.listArt2 li{
  list-style: none;
  
  font-size: 20;
  color: black;
  margin-right: 25px;
font-family: 'Quicksand', sans-serif;
cursor: pointer;
}
.link2{
  color: black;
  text-decoration: none;
  font-weight: normal;
  cursor:pointer;
    pointer-events: auto;
}
.imageListHeader {
  transition: all 1s ease-out;
}
.h1ListHeader {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-out;
    opacity: 0;
           color: #05c495;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
}
.wrapClassPic{
  overflow: hidden;
   opacity: 1;
    height: 100%;
     position: relative; 
     text-align: center;
}
.wrapClassPic:hover > .h1ListHeader{
  transition: all 1s ease-out;
  opacity: 1;
  font-size: 30px;
  font-weight: bolder;
}
.containerInfo{
 width: 100%;
 display: flex;
 justify-content: space-between;
}
.columInfo {
  display: flex;
  width: 50%;
  height: 500px;
  margin-bottom: 100px;
  justify-content: center;
}
.columInfoTe h2 {
  font-size: 30px;
  margin-top: 150px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;

}
.columInfoTe strong{
  font-family: 'Quicksand', sans-serif;
 font-size: 25px;
}
.columInfoTe a{
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: #05c495;
}
.columInfoTe h1{
  margin-top: 20px;
}
.wrapper{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 50%;
 
}
.contact-form{
  margin: 0 auto;
  display: flex;
   width: 100%;
}
.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
 
}
.input-fields,
.msg {
  width: 46%;
}
.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #05c495;
  padding: 10px;
  color: black;
  width: 100%;
}
.msg textarea{
  height: 83%;
}
::-webkit-input-placeholder{
  color: #04b488;
  font-weight: bolder;
}
::-moz-input-placeholder{
  color: #04b488;
  font-weight: bolder;
}
::-ms-input-placeholder{
  color: #04b488;
  font-weight: bolder;
}
.btn{
  background: #04b488;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  height: 20px;
  border-bottom: 5px solid #057358;
}
.btn:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  height: 23px;
  border-bottom: 3px solid #057358;

}

/*fooooooooooter*/

.footer-distributed{
	background: #142c2d;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  display:flex;
	justify-content: flex-start;
  flex-direction: row;
	color:  #ffffff;
  
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:flex;
	line-height: 1.8;
  font-family: 'Quicksand', sans-serif;
  margin-right: 10px;
  font-weight:300;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	cursor: pointer;
	text-align: center;
	

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
